* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #1b2e44;
  --secondary-color: white;
  --nav-bar-color: #515966;
  --theme-color: #b8012a;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}